{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Setup Your Profile{% endblock %}
{% block style %}
    <style type="text/css">
        .profile_options{
            text-decoration: none;
            list-style-type: none;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>{{ name }}'s Profile</h1>
    <ul class="profile_options">
        <li><a href="/register/set_profile"><h3>Edit Profile</h3></a></li>
        <li><a href="/ticket_list"><h3>Your Tickets</h3></a></li>
    </ul>

{% endblock %}